  <div class="container">
    <div class="center">
      <p><%= signup_link %></p>
    </div>
    <div class="headline"></div>
    <div class="row">
      <div class="col l6 m12">
        <ul class="collection with-header">
          <li class="collection-header center">
            <h4>Teams</h4>
          </li>
        </ul>
        <% @users.each do |user| %>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header text-justify">
                <h5>
                  <!-- <%= display_user(user) %> -->
                  <%= user.name %>
                  <i class='material-icons menu-icon'>list</i>
                </h5>
              </div>
              <div class="collapsible-body">
                <ul class="collection">
                  <li class="collection-item">Will be visible once everyone has made picks</li>
                  <%# <%  user.teams.each_with_index do |team, index| %>
                  <%#   <li class="collection-item">
                  <%#     <%= display_team(user, team, index) %>
                  <%#   </li>
                  <%# <% end %>
                    <li class="collection-item">
                      <%# Tiebreaker: <%= user&.tie_breaker || 0 %>
                    </li>
                  <li class="collection-item orange darken-2">
                    Total Wins: <%= wins(user) %>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="col l6 m12">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header center">
            <h4>Standings</h4>
          </li>
          <%# <% @standings.each_with_index do |user, index| %>
          <%#   <li class="collection-item">
          <%#     <h5><%= display_standings(user, index) %></h5>
          <%#   </li>
          <%# <% end %>
        </ul>
      </div>
    </div>
  </div>
