  <div class="container">
    <div class="headline"></div>
    <div class="row">
      <h3><a href ="/picks/<%= @year %>">Sign up for 2016/2017</a></h3>
    </div>
    <div class="row">
      <div class="col s6">
        <ul class="collection with-header">
          <li class="collection-header center orange darken-2">
            <h4>Teams</h4>
          </li>
        </ul>
        <% @users.each do |user| %>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header text-justify">
                <h5><%= user.name %> | <%= user.wins %> wins<i class="material-icons menu-icon">list</i></h5>
              </div>
              <div class="collapsible-body">
                <ul class="collection">
                  <%  user.teams.each do |team| %>
                    <li class="collection-item">
                      <%= user.teams.index(team) + 1 %>. <%= team.name %> | 2016/2017 Wins: <%= team.wins %> | 2015/2016 Wins: <%= @previous_year_teams.find_by(name: team.name).wins || 0 %>
                    </li>
                  <% end %>
                  <li class="collection-item orange darken-2">
                    Total Wins: <%= user.wins %>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        <% end %>
      </div>

      <div class="col s6">
        <ul class="collection with-header z-depth-1">
          <li class="collection-header center orange darken-2">
            <h4>Standings</h4>
          </li>
          <% @standings.each do |user| %>
            <li class="collection-item">
              <h5><%= @standings.index(user) + 1 %>.  <%= user.name %> (wins: <%= user.wins %>)</h5>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
